.layer1Icon {
  position: absolute;
  top: 42px;
  left: 787.63px;
  width: 344.76px;
  height: 48.2px;
}
.p {
  margin: 0;
}
.retailItemsAnimationAndVid {
  position: absolute;
  top: 105px;
  left: 21px;
  display: inline-block;
}
.topaz1Icon {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 87.29px;
  height: 87.29px;
}
.sHUFFLE {
  position: absolute;
  top: 25.5px;
  left: 122.5px;
  cursor: pointer;
}
.meatloafEngine7000Icon {
  position: absolute;
  top: 42px;
  right: 26px;
  width: 642px;
  height: 861px;
  object-fit: cover;
}
.freeFrustrationOfTheChild {
  position: absolute;
  top: 250px;
  left: 21px;
  width: 568px;
  height: 444px;
  object-fit: cover;
}
.essenceOfSkeletalBeing {
  position: absolute;
  bottom: 12px;
  left: 627px;
  width: 575px;
  height: 718px;
  object-fit: cover;
}
.dALLEUntitledRitualTemple {
  position: absolute;
  top: 163px;
  left: 614px;
  width: 175px;
  height: 175px;
  object-fit: cover;
}
.dALLEUntitledRitualTemple1 {
  position: absolute;
  bottom: 102px;
  left: 357px;
  width: 269px;
  height: 269px;
  object-fit: cover;
}
.dALLEUntitledRitualTemple2 {
  position: absolute;
  top: 715px;
  left: 31px;
  width: 135px;
  height: 135px;
  object-fit: cover;
}
.dALLEUntitledRitualTemple3 {
  position: absolute;
  bottom: 12px;
  left: 1207px;
  width: 151px;
  height: 151px;
  object-fit: cover;
}
.dALLEUntitledRitualTemple4 {
  position: absolute;
  left: 833px;
  object-fit: cover;
}
.dALLEUntitledRitualTemple4,
.dALLEUntitledRitualTemple5 {
  top: 163px;
  width: 175px;
  height: 175px;
}
.dALLEUntitledRitualTemple5,
.dALLEUntitledRitualTemple6 {
  position: absolute;
  object-fit: cover;
}
.dALLEUntitledRitualTemple5 {
  left: 1052px;
}
.dALLEUntitledRitualTemple6 {
  top: 709px;
  left: 172px;
  width: 179px;
  height: 179px;
}
.slide7 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1080px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-gray);
  font-family: var(--font-ocr-a);
}
